.backgroundImage {
  background-image: url("../../assets/signUpSplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 25px;
}

.logo {
  fill: #e50914;
  width: 165.5px;
  height: 45px;
}

.container-1 {
  display: flex;
}

.select {
  margin-left: auto;
}
.inputField {
  line-height: 3em;
  width: 15%;
}
.getStartedButton {
  line-height: 3em;
  background-color: #e50914;
  color: white;
  width: 10%;
}

.container-2 {
  display: flex;
}
.container-2-box-1 {
  flex: 12;
}
h1 {
  color: white;
}
p {
  color: white;
  font-weight: 500;
}
